@media screen (min-width: 40em) {

	/* Show the table header rows and set all cells to display: table-cell */
	.my-custom-breakpoint td, .my-custom-breakpoint th, .my-custom-breakpoint tbody th, .my-custom-breakpoint tbody td, .my-custom-breakpoint thead td, .my-custom-breakpoint thead th {
		display: table-cell;
		margin: 0;
		margin: 0;
	    padding: 0;
	}
	/* Hide the labels in each cell */
	.my-custom-breakpoint td .ui-table-cell-label, .my-custom-breakpoint th .ui-table-cell-label {
		display: none;
		margin: 0;
	    padding: 0;
	}
}

@media (orientation: landscape) {
	#tbody-prod-camp #desconto{
		background-color: red;
	}
}

/*STYLE DOS PRODUTOS DE UMA CAMPANHA*/
	@media (max-width: 320px) {
	    #tbody-prod-camp #desconto{
	    	background-color: #1d1d1d;
	    	height: 18%;
	    	-moz-border-radius:8px;
			-webkit-border-radius:8px;
			 border-radius:8px;
	    }

	    #tbody-prod-camp #valor-desconto{
	    	font-size: 16px;
	    	margin-top: 5%;
	    }

	    #tbody-prod-camp #marca, #produto, #preco_antigo, #preco_atual{
	    	margin-bottom: -8px;
	    }

	    #tbody-prod-camp #marca{
			font-size: 14px;
	    }

	    #tbody-prod-camp #produto, #preco_antigo, #preco_atual{
	    	font-size: 12px;
	    }

	    #tbody-prod-camp #preco_antigo{
	    	text-decoration: line-through;
	    }

	    #tbody-prod-camp #preco_atual{
	    	font-weight: bold;
	    }
	}



	@media (min-width: 321px) and (max-width: 412px) {
	    #tbody-prod-camp #desconto{
	    	background-color: #1d1d1d;
	    	height: 18%;
	    	-moz-border-radius:8px;
			-webkit-border-radius:8px;
			 border-radius:8px;
	    }

	    #tbody-prod-camp #valor-desconto{
	    	font-size: 20px;
	    	margin-top: 6.5%;
	    }

	    #tbody-prod-camp #marca, #produto, #preco_antigo, #preco_atual{
	    	margin-bottom: -8px;
	    }

	    #tbody-prod-camp #marca{
			font-size: 14px;
	    }

	    #tbody-prod-camp #produto, #preco_antigo, #preco_atual{
	    	font-size: 12px;
	    }

	    #tbody-prod-camp #preco_antigo{
	    	text-decoration: line-through;
	    }

	    #tbody-prod-camp #preco_atual{
	    	font-weight: bold;
	    }
	}


	@media (min-width: 413px) and (max-width: 736px) {
	    #tbody-prod-camp #desconto{
	    	background-color: #1d1d1d;
	    	height: 18%;
	    	-moz-border-radius:8px;
			-webkit-border-radius:8px;
			 border-radius:8px;
	    }

	    #tbody-prod-camp #valor-desconto{
	    	font-size: 20px;
	    	margin-top: 5%;
	    }

	    #tbody-prod-camp #marca, #produto, #preco_antigo, #preco_atual{
	    	margin-bottom: -8px;
	    }

	    #tbody-prod-camp #marca{
			font-size: 14px;
	    }

	    #tbody-prod-camp #produto, #preco_antigo, #preco_atual{
	    	font-size: 12px;
	    }

	    #tbody-prod-camp #preco_antigo{
	    	text-decoration: line-through;
	    }

	    #tbody-prod-camp #preco_atual{
	    	font-weight: bold;
	    }
	}



	@media (min-width: 737px) and (max-width: 1024px) {
	    #tbody-prod-camp #desconto{
	    	background-color: #1d1d1d;
	    	width: 30%;
	    	height: 12%;
	    	-moz-border-radius:18px;
			-webkit-border-radius:18px;
			 border-radius:18px;
	    }

	    #tbody-prod-camp #valor-desconto{
	    	font-size: 40px;
	    	margin-top: 13%;
	    }

	    #tbody-prod-camp #marca, #produto, #preco_antigo, #preco_atual{
	    	margin-bottom: 0px;
	    }

	    #tbody-prod-camp #marca{
	    	margin-top: 10px;
			font-size: 28px;
	    }

	    #tbody-prod-camp #produto, #preco_antigo, #preco_atual{
	    	font-size: 22px;
	    	margin-top: 5px;
	    }

	    #tbody-prod-camp #preco_antigo{
	    	text-decoration: line-through;
	    }

	    #tbody-prod-camp #preco_atual{
	    	font-weight: bold;
	    }
	}


	@media (min-width: 1025px) and (max-width: 2559px) {
	    #tbody-prod-camp #desconto{
	    	background-color: #1d1d1d;
	    	width: 30%;
	    	height: 12%;
	    	-moz-border-radius:18px;
			-webkit-border-radius:18px;
			 border-radius:18px;
	    }

	    #tbody-prod-camp #valor-desconto{
	    	font-size: 50px;
	    	margin-top: 16%;
	    }

	    #tbody-prod-camp #marca, #produto, #preco_antigo, #preco_atual{
	    	margin-bottom: 0px;
	    }

	    #tbody-prod-camp #marca{
	    	margin-top: 10px;
			font-size: 38px;
	    }

	    #tbody-prod-camp #produto, #preco_antigo, #preco_atual{
	    	font-size: 28px;
	    	margin-top: 14px;
	    }

	    #tbody-prod-camp #preco_antigo{
	    	text-decoration: line-through;
	    }

	    #tbody-prod-camp #preco_atual{
	    	font-weight: bold;
	    }
	}



	@media (min-width: 2560px){
	    #tbody-prod-camp #desconto{
	    	background-color: #1d1d1d;
	    	width: 30%;
	    	height: 12%;
	    	-moz-border-radius:28px;
			-webkit-border-radius:28px;
			 border-radius:28px;
	    }

	    #tbody-prod-camp #valor-desconto{
	    	font-size: 100px;
	    	margin-top: 20%;
	    }

	    #tbody-prod-camp #marca, #produto, #preco_antigo, #preco_atual{
	    	margin-bottom: 0px;
	    }

	    #tbody-prod-camp #marca{
	    	margin-top: 50px;
			font-size: 68px;
	    }

	    #tbody-prod-camp #produto, #preco_antigo, #preco_atual{
	    	font-size: 50px;
	    	margin-top: 44px;
	    }

	    #tbody-prod-camp #preco_antigo{
	    	text-decoration: line-through;
	    }

	    #tbody-prod-camp #preco_atual{
	    	font-weight: bold;
	    }
	}
/*FIM ------------------------------ STYLE DOS PRODUTOS DE UMA CAMPANHA*/


